@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    background-color: #f1f1f1;
}
.loginForm{
    background-color: #ffffff;
}
.variedadesByJ{
    color: #FD0002;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.login{
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: pointer;
  padding: 10px; 
}
.select{
    background-color: #f1f1f1;
    border-radius: 10px;
}
.form-control{
    box-shadow: 0 0 15px #dbcfb6;
}
.login:hover{
    font-weight: 700;
    text-shadow: 2px 2px 4px #e2e2e2;
}
p, label{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
